#hz {
    color: #c1540b;
    text-align: center;
}
#Hell {
    color:rgb(249, 166, 0);
}
#yes {
    background-image:url(https://img.freepik.com/premium-photo/halloween-purple-background-with-essential-characters-simple-design-with-copy-space_1000823-12870.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#NooN {
    color: blueviolet;
}
